bin\
*.class
*.project
seg4145lab4_java/seg4145lab4_java.iml
seg4145lab4_java/.idea/misc.xml
seg4145lab4_java/.idea/modules.xml
seg4145lab4_java/.idea/workspace.xml
seg4145lab3/Lab3_Report_Group10.pdf
